<!--The content below is only a placeholder and can be replaced.-->
<!-- <button mat-button><img src="../assets/img/1.svg" alt=""></button>
<button mat-button><img src="../assets/img/1.svg" alt=""></button>
<button mat-button><img src="../assets/img/2.png" alt=""></button>
<button mat-button><img src="../assets/img/2.png" alt=""></button> -->

<div class="container">
  <div class="row">
    <div class="col-4"><button mat-button (click)="onClick($event)"><img class="card" src="../assets/img/1.svg" alt=""></button></div>
    <div class="col-4"><button mat-button (click)="onClick($event)"><img class="card" src="../assets/img/1.svg" alt=""></button></div>
    <div class="col-4"><button mat-button (click)="onClick($event)"><img class="card" src="../assets/img/2.png" alt=""></button></div>
  </div>
  <div class="row">
    <div class="col-4"><button mat-button (click)="onClick($event)"><img class="card" src="../assets/img/2.png" alt=""></button></div>
    <div class="col-4"><button mat-button (click)="onClick($event)"><img class="card" src="../assets/img/1.svg" alt=""></button></div>
    <div class="col-4"><button mat-button (click)="onClick($event)"><img class="card" src="../assets/img/1.svg" alt=""></button></div>
  </div>
  <div class="row">
    <div class="col-4"><button mat-button (click)="onClick($event)"><img class="card" src="../assets/img/1.svg" alt=""></button></div>
    <div class="col-4"><button mat-button (click)="onClick($event)"><img class="card" src="../assets/img/2.png" alt=""></button></div>
    <div class="col-4"><button mat-button (click)="onClick($event)"><img class="card" src="../assets/img/1.svg" alt=""></button></div>
  </div>
</div>